.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

  /* // Chat */
/* Chat msg-containers */

/* Darker chat msg-container */
.color2 {
  border-color: #ccc;
  background-color: #ddd;
}

.color1 {
  border-color: rgb(58, 137, 255);
  background-color: rgb(58, 137, 255);
  color: white;
}

/* Clear floats */

.msg-container {
  display: flex;
  align-content: center;
  width: 100%;
}

/* Style images */

.msg-message {
  width: max-content;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  justify-self: flex-start;
}

.msg-right {
  justify-content: flex-end;
}

.msg-left {
  justify-content: flex-start;
}

/* Style the right image */
.msg-container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  width: max-content;
  /* float: right; */
  align-items: flex-end;
  color: #aaa;
}

/* Style time text */
.time-left {
  width: max-content;
  align-items: flex-start;
  /* float: left; */
  color: #999;
}

.Comment {
  display: flex;
  width: 800px;
}

.Comment .text {
  width: 100%;
}

.Comment button {
 width: 20%;
}

.ImageRounded {
  max-width: 50px;
  max-height: 50px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}
