extends ./layout/layout.jade

block content
    a(href="profil/visitor") Profile
    div(class="w3-container")
        img(class="w3-container center", src="http://img.providr.com/all-images/mia-khalifa-photos-again14.jpg")
        p nom : Mia
        p prenom : 
        p Sexe : Femme
        p orientation sexuel : bisexuel
        w3-button(type="button")
            p edit
        div(class="w3-container")
            h1 Qui a consulter votre profil
            div(class="w3-card-4", style="width:50%")
                img(src="http://www.behindthevoiceactors.com/_img/chars/joseph-joestar-jojos-bizarre-adventure-stardust-crusaders-7.99.jpg", style="width:100%, height:20%")
                div(class="w3-container w3-center")
                    p JoJo a vu votre profile !
            div(class="w3-card-4", style="width:50%")
                img(src="https://vignette3.wikia.nocookie.net/finalfantasy/images/7/7d/Nyx.jpg/revision/latest?cb=20160526040245", style="width:100%, height:20%")
                div(class="w3-container w3-center")
                    p Nyx Ulric a vu votre profile !
        div(class="w3-container")
            h1 Il on liké votre profil
            div(class="w3-card-4", style="width:50%")
                img(src="https://i.ytimg.com/vi/sc6z8ECE4Kk/maxresdefault.jpg", style="width:100%, height:20%")
                div(class="w3-container w3-center")
                    p Noctis a vu votre profile !
            div(class="w3-card-4", style="width:50%")
                img(src="https://vignette1.wikia.nocookie.net/hunterxhunter/images/9/9b/Gon_telling_Hisoka_to_take_his_badge_back_episode_16.PNG/revision/latest?cb=20120122054106", style="width:100%, height:20%")
                div(class="w3-container w3-center")
                    p Nyx Ulric a vu votre profile !
        div(class="w3-container")
            p score popularite 35%
        div(class="w3-container", id="map", style="width:400px;height:400px;background:yellow")
        script
            include ../public/stylesheets/map-maker.js
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaTzblQWG7r_5RSAMcN8i6EBzKx6RYLI4&callback=initMap")
