    div(class="w3-container")
        form(enctype="multipart/form-data")
            p Homme
            input(type="radio", name="gender", value="male")
            p Femme
            input(type="radio", name="gender", value="female")
            p autre
            input(type="radio", name="gender", value="other")
            br
            p orientation sexuel:
            select
                option(value="hétérosexuel") hétérosexuel
                option(value="homosexuel") homosexuel
                option(value="bisexuel") bisexuel
            w3-label liste interets
            br
            select
                option(value="hétérosexuel") geek
                option(value="homosexuel") bio
                option(value="bisexuel") piercing
            input(type="text", name="autres", value="autres")
            input(type="file", name="nom")
            input(type="file", name="nom")
            input(type="file", name="nom")
            input(type="file", name="nom")
            input(type="file", name="nom")
