extends ../layout/layout.jade

block content
    h1 Connexion
    p Connecter vous !
    form(action="/signin", method="post")
        input(type="text", name="login", placeholder="mail")
        input(type="password", name="password", placeholder="mot de passe")
        div.actions 
           input(type="submit", value="Connexion")
    a(href="signin/signup") Creation de compte utilisateur
    br
    a(href="signin/signup") Mot de passe oublié